/* Footer */

.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#444;
    padding:20px 20px;
}

.footer__logo {
    img{
        max-width:45px;
    }
}

.footer__social {
    li {
        margin:0 5px;
        display:inline-block;
    } 
}

.footer__social {
    li {
        a{
            color:#F36116;
        }
    }
}

.footer__social {
    li {
        a{
            &:hover {
                color:#000;
            }
        }
    }
}