@media only screen and (min-width: 720px){
    .main__services {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
}

@media only screen and (max-width: 720px){
    .main__services {
        grid-template-columns: 1fr 1fr !important;
    }

    .header__links li a{
        display:none;
    }

    .header__links li a.header__links--bars {
        display:block;
    }

    .main__gallery{
        grid-template-areas: "item1 item1 item2 item2"
                             "item3 item3 item4 item4"
                             "item5 item5 item6 item6"
                             "item7 item7 item8 item8";
    }

} 

@media only screen and (max-width: 480px){
    .main__services {
        grid-template-columns: 1fr !important;
    }

    .header__links li a{
        display:none;
    }

    .header__links li a.header__links--bars {
        display:block;
    }

    .main__gallery{
        grid-template-areas: "item1 item1 item1 item1"
                             "item2 item2 item2 item2"
                             "item3 item3 item3 item3"
                             "item4 item4 item4 item4"
                             "item5 item5 item5 item5"
                             "item6 item6 item6 item6"
                             "item7 item7 item7 item7"
                             "item8 item8 item8 item8";
    }
    
    .main__gallery--item{
        min-width: 100%;
    }
}